{% extends 'basic/site_template.html' %}

{% block body %}
		<h1>Attendance Management System</h1>
    	<p class="lead">Project developed in partial fulfillment of the course Software for Embedded Systems</p>
    	<p class="lead">
    		<h3>Developers</h3>
    		<div class="col-lg-4"></div>
    		<div class="col-lg-4">
	    	<ul class="list-group">
  				<li class="list-group-item list-group-item-success">Naveen Jaiswal</li>
  				<li class="list-group-item list-group-item-info">Ravi Shekhda</li>
				<li class="list-group-item list-group-item-warning">Chirag Patel</li>
				<li class="list-group-item list-group-item-success">Digvijay Singh</li>
  				<li class="list-group-item list-group-item-info">Pooja Ruhal</li>
  				<li class="list-group-item list-group-item-warning">Sudhir Mishra</li>
			</ul>
			</div>
			<div class="col-lg-4"></div>
    	</p>

{% endblock %}
